cffi==1.9.1
click==6.7
cryptography==1.7.1
Flask==0.12
Flask-Session==0.3.0
Flask-SQLAlchemy==2.1
gunicorn==19.6.0
idna==2.2
itsdangerous==0.24
Jinja2==2.9.4
MarkupSafe==0.23
passlib==1.7.0
pyasn1==0.1.9
pycparser==2.17
pyOpenSSL==16.2.0
requests==2.12.5
six==1.10.0
SQLAlchemy==1.1.5
Werkzeug==0.11.15
