{% extends "layout.html" %}

{% block title %}
Иврит - это легко!
{% endblock %}

{% block body %}

<div class="row">
    <div class="col-xs-12">
        <h1 id="tytle" class="theme">Словарь</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <form action="{{ url_for('dictionary') }}" class="navbar-form" method="post">
            <div class="col-md-offset-1 col-md-4">
                <div class="form-group">
                    <input autocomplete="off" autofocus class="form-control" name="word" placeholder="Введите слово" required type="text"/>
                 </div>
                <button class="btn btn-default" type="submit">Поиск</button>
            </div>
        <fieldset>
            <label class="checkbox-inline">
                <input type="radio" name="Lang_search" id="inlineCheckbox1" required value="herbew"> Иврит
            </label>
            <label class="checkbox-inline">
                <input type="radio" name="Lang_search" id="inlineCheckbox2" required value="transcription"> Транскрипция
            </label>
            <label class="checkbox-inline">
                <input type="radio" name="Lang_search" id="inlineCheckbox3" required value="russian"> Русский
            </label>
        </fieldset>
    </form>
    <br><br>
        <table class="table table-striped table_dictionary">
            <thead>
                <tr>
                    <th>Иврит</th>
                    <th>Транскрипция</th>
                    <th>Русский</th>
                </tr>
            </thead>
            <tbody>
                {% for line in dictionary %}
                    <tr>
                        <td>{{ line.herbew }}</td>
                        <td>{{ line.transcription }}</td>
                        <td>{{ line.russian }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
     </div>
</div>
<script>dictionary.classList.add('active-nav');</script>
{% endblock %}