{% extends "layout.html" %}

{% block title %}
Иврит - это легко!
{% endblock %}

{% block body %}

<div class="row">
    <div class="col-xs-12">
        <h1 id="tytle" class="theme">Грамматика</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#theme1">Существительные</a>
                    </h4>
                </div>
                <div id="theme1" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <p>Вначале - два очень важных слова:

да - кен
нет - ло

Еще одно, не менее важное:

книга - се́фер

И еще:

е́лед - мальчик, ребенок
ялда́ - девочка
елади́м - мальчики, дети
еладо́т - девочки

И сразу еще четыре слова, которые помогут нам дальше составлять предложения:

это (м.р.), этот - зе
это (ж.р.), эта - зот
эти - э́ле, э́лу

Примеры:

зе е́лед - это ребенок (или: это мальчик)
зот ялда́ - это девочка
эле елади́м - это дети
элу еладо́т - это девочки

Слово "сефер" на иврите мужского рода:

зе се́фер - это книга

Еще одно слово:

учитель - морэ́

Мы видим, что слова мужского рода могут иметь окончание "э", на которое падает ударение. Еще примеры таких слов:

строитель - бонэ́
договор (документ) - хозэ́

Существительные мужского рода во множественном числе имеют, как правило, окончание -им:

книги - сфари́м
мальчики, дети - елади́м
учителя - мори́м
строители - бони́м

Существительные женского рода в единственном числе могут оканчиваться на "а" или "т":

девочка - ялда́
учительница - мора́
тетрадь - махбе́рет
ошибка - тау́т

Существительные женского рода во множественном числе имеют окончание -от:

девочки - еладо́т
учительницы - моро́т
тетради - махберо́т
ошибки - тауйо́т

</p>
                     </div>
                </div>
            </div>
             <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#theme2">Прилагательные</a>
                    </h4>
                </div>
                <div id="theme2" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>Прилагательное в иврите всегда стоит после существительного, к которому оно относится.

красивый - яфе́
красивая - яфа́

Примеры:

е́лед яфе́ - красивый мальчик
ялда́ яфа́ - красивая девочка
се́фер яфе́ - красивая книга
махбе́рет яфа́ - красивая тетрадь

Еще примеры прилагательных:

маленький - ката́н
большой - гадо́ль

Примеры:

е́лед ката́н - маленький мальчик
се́фер гадо́ль - большая книга

А в женском роде будет так:

ялда́ гдола́ - большая девочка
махбе́рет ктана́ - маленькая тетрадь

Во множественном числе:

елади́м яфи́м - красивые дети
еладо́т яфо́т - красивые девочки
сфари́м гдоли́м - большие книги
махберо́т ктано́т - маленькие тетради
елади́м ктани́м - маленькие дети
еладо́т гдоло́т - большие девочки</p>
                     </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#theme3">Местоимения</a>
                    </h4>
                </div>
                <div id="theme3" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>
                            (Здесь и далее мы используем сокращения: м.р. - мужской род, ж.р. - женский род).

я - ани́

ты (м.р.) - ата́

ты (ж.р.) - ат

он - hу

она - hи

мы - ана́хну

вы (м.р.) - ате́м

вы (ж.р.) - ате́н

они (м.р.) - hем

они (ж.р.) - hен


Примеры:

ат гдола́! - ты большая (на сленге: ты молодец!)
hи яфа́ - она красивая
hем ктани́м - они маленькие
 
                        </p>
                     </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#theme4">Глаголы в настоящем времени</a>
                    </h4>
                </div>
                <div id="theme4" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p> 

Теперь выучим первый глагол, пока только в настоящем времени, зато во всех родах и числах:

хочу, хочет (м.р.) - роцэ́
хочу, хочет (ж.р.) - роца́

Множественное число:

хотим, хотят (м.р.) - роци́м
хотим, хотят (ж.р.) - роцо́т

И составим такую таблицу для местоимений:

ани роцэ́ - я (м.р.) хочу
ани роца́ - я (ж.р.) хочу
ата роцэ́ - ты (м.р.) хочешь
ат роца́ - ты (ж.р.) хочешь
hу роцэ́ - он хочет
hи роца́ - она хочет
анахну роци́м - мы (м.р.) хотим
анахну роцо́т - мы (ж.р.) хотим
атем роци́м - вы (м.р.) хотите
атен роцо́т - вы (ж.р.) хотите
hем роци́м - они (м.р.) хотят
hен роцо́т - они (ж.р.) хотят

Примеры:

а́ба роцэ́ се́фер - папа хочет книгу
и́ма роца́ се́фер - мама хочет книгу
елади́м роци́м се́фер - дети хотят книгу
еладо́т роцо́т се́фер - девочки хотят книгу
hем роци́м се́фер - они (м.р.) хотят книгу
ата́ роцэ́ се́фер? - ты (обращение к мужчине) хочешь книгу?
кен, ани́ роцэ́ се́фер - да, я хочу книгу
ло, ани́ ло роцэ́ се́фер - нет, я не хочу книгу

Выучим заодно союз "и" - это "ве-", присоединенное ко второму слову:

мама и папа - и́ма ве-а́ба
брат и сестра - ах ве-ахо́т
дедушка и бабушка - са́ба ве-са́вта

Примеры:

а́ба ве-ах роци́м се́фер - папа и брат хотят книгу
бат ве-нехда́ ло роцо́т сфари́м - дочь и внучка не хотят книг
ах ве-ахо́т роци́м сфари́м - брат и сестра хотят книги
</p>
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>grammar.classList.add('active-nav');</script>
{% endblock %}