{% extends "layout.html" %}

{% block title %}
Числа
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-xs-12">
        <h1 id="tytle" class="theme">Числа</h1>
    </div>
</div>
<div class="row section">
    <div class="col-xs-12">
        <div id="container">
            {% for line in numbers %}
            <div class="wrap item">
                <div class="front img">
                    <img data-toggle="modal" data-target="#{{ line.russian }}" class="card_img" src="static/img/numbers/{{ line.img }}"></img>
                    <h2 class="card_h">{{ line.herbew }}</h2>
                </div>
                <div class="back img">
                    <br>
                    <h3 class="card_h_back">{{ line.russian }}</h3>
                    <h3 class="card_h_back">{{line.transcription}}</h3>
                </div>
            </div>
            {% endfor %}
        </div>
     </div>
</div>
<script>les2.classList.add('active');</script>
<script src="static/js/lesson2.js"></script>
{% endblock %}