{% extends "layout.html" %}

{% block title %}
Иврит - это легко!
{% endblock %}

{% block body %}

<div class="row">
    <div class="col-xs-12">
        <h1 id="tytle" class="theme">Дни недели</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="col-md-offset-1 col-md-4">
            <h1>Fdcd</h1>
        </div>
        <div class="col-md-offset-1 col-md-4">
        <form action="">
        <fieldset>
           
                <input type="radio" name="training" value=" Вариант 1"> Вариант 1
           <br>
                <input type="radio" name="training"  value=" Вариант 2"> Вариант 2
           <br>
                <input type="radio" name="training"  value=" Вариант 3"> Вариант 3
           <br>
                <input type="radio" name="training"  value=" Вариант 4"> Вариант 4
            
        </fieldset>
        </form>
        </div>
     </div>
</div>
<script src="static/js/lesson5.js"></script>
{% endblock %}