{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block body %}
    <div class="col-md-offset-3 col-md-5">
        <br><br>
        <h3>Введите ваш логин и пароль</h3>
        <form action="{{ url_for('login') }}" method="post">
            
            <fieldset>
                <div class="form-group">
                    <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Логин" type="text"/>
                </div>
                <div class="form-group">
                    <input class="form-control" name="password" placeholder="Пароль" type="password"/>
                </div>
                <div class="form-group">
                    <button class="btn btn-default" type="submit">Войти</button>
                </div>
            </fieldset>
        </form>
    </div>
    <script type="text/javascript">
        login.classList.add('active-nav');
    </script>
        
{% endblock %}
