{% extends "layout.html" %}

{% block title %}
Иврит - это легко!
{% endblock %}

{% block body %}

<div class="row">
    <div class="col-xs-12">
        <h1 id="tytle" class="theme">Разговорник</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-offset-2 col-md-8">
        <pre>
                    Разговорник Иврит
        По-русски	                    Произношение
        
                    Основные слова	 
        Да	                            кен
        Нет	                            ло
        Спасибо, большое спасибо	    тода, тода раба
        Пожалуйста	                    бевакаша
        Извините	                    слиха
        Здравствуйте	                шалом
        До свидания	                    ле'итраот
        Пока	                        бай
        Доброе утро	                    бокер тов
        Добрый день	                    ём тов
        Добрый вечер	                эрев тов
        Спокойной ночи	                лайла тов
        Я не понимаю	                ани ло мевин
        Вы говорите по…?	            ата медабер……?
        Английски	                    англит
        Французски	                    цорфотит
        Испански	                    сфарадит
        Я	                            ани
        Мы	                            анахну
        Ты	                            ата (жен.-ат)
        Вы	                            атем (только множественное число)
        Они	                            hэм
        Как вас зовут?	                эйх корим ляха (жен.-лях)
        Очень приятно	                наим меод
        Хорошо	                        тов
        Плохо	                        ра (ло тов)
        Жена	                        иша
        Муж	                            бааль
        Дочь	                        бат
        Сын	                            бен
        Мать	                        има
        Отец	                        аба
        Друг	                        хавер
        
                        Числа	 
        Ноль	                        эфес
        Один	                        эхад
        Два	                            штайм
        Три	                            шалош
        Четыре	                        арба
        Пять	                        хамеш
        Шесть	                        шеш
        Семь                        	шева
        Восемь	                        шмоне
        Девять	                        теша
        Десять	                        эсер
        Двадцать	                    эсрим
        Тридцать	                    шлошим
        Сорок	                        арбаим
        Пятьдесят	                    хамешим
        Сто	                            мэа
        Тысяча	                        элеф
        Миллион	                        милион
        
                        Магазины, рестораны	 
        Сколько это стоит?	            кама зе оле?
        Что это такое?	                ма зе?
        Я куплю это	                    эни икне эт зе
        Можно получить скидку?	        эфшар ликабель анаха?
        У вас есть…	                    еш лахем?
        Открыто	                        патуах
        Закрыто	                        сагур
        Немного, мало	                меат, кцат
        Много	                        арбэ
        Все	                            аколь
        Завтрак	                        арухат-бокер
        Обед	                        арухат-цаораим
        Ужин	                        арухат-эрев
        Хлеб	                        лехем
        Напиток	                        машке
        Кофе	                        кафк
        </pre>
     </div>
</div>
<script>phrasebook.classList.add('active-nav');</script>
{% endblock %}